#canvas
{
    background-color:#30c0df;
    /*border: 2px solid black;*/
    display: block;
    margin: 0;
    padding: 0;
    max-width: 450px;
    max-height: 1000px;

    
}


/*
the size fix
*/
html, body {
    max-width: 450px;
    margin: 0 !important;
    padding: 0 !important;
}